/* passer body (et tous les éléments de largeur fixe) en largeur automatique */

* {box-sizing:border-box;}

/* fixer une largeur maximale de 100% aux éléments potentiellement problématiques */

img,
table,
td,
blockquote,
code,
pre,
textarea,
input,
iframe,
section,
embed,
video {
	max-width:100%;
}

/* conserver le ratio des images */
img {
	height:auto;
}
	
/* gestion des mots longs */

textarea,
table,
td,
th,
code,
pre,
samp {
	hyphens:auto;
	word-wrap:break-word; /* passage à la ligne forcé */
}
	
code,
samp {
	white-space:pre-wrap; /* passage à la ligne spécifique pour les éléments à chasse  fixe */
}

body {
max-width:600px;
max-width:100vw;
margin:auto 0;
padding:0;
font-family:"Helvetica Neue LT Std 55 Roman", Helvetica, Arial, sans-serif;
font-style:normal;
text-align:center;
color:#88898c;
font-size:3.5em;
font-size:3.5vw;
}

svg {
fill:currentColor;
}
/* masquer les éléments superflus */
.hidden {
	display:none !important;
}


/*a {text-decoration:underline;}
a:link, a:visited {color:#000;}
a:hover, a:focus{color:#c00;background-color:#f00;}
*/

.logo {
  display:block;
  margin:0 auto;
  width:50vw;
}	
ul {
list-style-type:none;
	  display:block;
margin:0 auto 1em;
	width:100%;
    width:100vw;
padding:0;
}



.h-card {
    position: relative; /* pour que le lien se cale sur le li */
	display:block;
	background-color:#0060AE;
	font-size: 6vw;
	font-weight: 500;
	text-align:left;
    height:14vh;
	padding:2vh;
	margin:0 auto;
	border-radius: 0 7vh 7vh 0;
	width:100%;
    width:100vw;
}
.h-card a {
	position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
color:#88898c;
  display: block;
  padding:8vh 0 2vh 2vh;
  text-decoration: none;
  border-radius:  0 7vh 7vh 0;
  letter-spacing: .5vw;
  text-align: left;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2); /* Ombre douce */
  transition: background 0.3s, box-shadow 0.3s, transform 0.2s;
}

/* Survol */
.h-card a:hover a:active {
  background-color: #88898C;   /* Violet plus foncé */
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  transform: translateY(-2px); /* Léger relief */
}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width:700px) {
	body {
		font-size:4em;
		font-size:4vw;
	}
	.p-honorific-prefix,.p-tel > .type {
		display:none !important;
    }
}
